*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #b3a4a4;
}
.card{
height: 400px;
width: 300px;
border-radius: 5px;
padding: 2px;
background: #fff;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
#image img{
    border-radius: 5px;
    width: 280px;
    margin-bottom: 15px;
}
#links{
    margin-left: -150px;
}
#links a{
    text-decoration: none;
    color: #807777;
    margin: 3px;
    border: 2px solid #ddd2d2;
    border-radius: 100px;
    outline: 0;
    padding: 5px;
}

#content{
    padding: 5px;
    margin-top: 5px;
    word-wrap: break-word;
}
#content h1{
    color: #3b3939;
}
#content p{
    color: #807777;
    margin-top: 25px;
    margin-bottom: 5px;
}
#readMore{
    margin-top: 15px;
    text-decoration: none;
    background:#b5b8d6 ;
    color: #0000ff;
    font-weight: 700;
    border: 2px solid #ddd2d2;
    border-radius: 100px;
    outline: 0;
    padding: 10px;
}